section {
    margin-block-end: 1.2rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.Profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(1.4rem);
    line-height: 2.5rem;
}
.title {
    line-height: 5rem;
    font-size: 1.6rem;
}
